# Ignore node_modules
frontend/node_modules/
backend/node_modules/

# Logs
*.log

# Environment files
.env

# Ignore all node_modules folders in the project
frontend/node_modules/
backend/node_modules/